<div *ngIf="rooms != []">
  <mat-card *ngFor="let room of rooms" class="room-cards">
      <mat-card-title><a class="room-card-title-link" routerLink='room/{{room.name}}'>{{room.name}}</a></mat-card-title>
      <mat-card-content>{{room.description}}</mat-card-content>
      <img mat-card-image src="{{room.picture}}" />
      <mat-card-actions *ngIf="localStorageGet('access')">
        <button mat-button color="primary" (click)="followRoom($event.target!, room.name)">{{this.followed_rooms.includes(room.name) ? "unfollow" : "follow"}}</button>
      </mat-card-actions>
  </mat-card>
</div>