.entryText{
    border: none;
    width: 100%;
    color: white;
    border-bottom: 2px solid rgba(white, 0.3);
    background-color: transparent;
    font-size: 16px;
    cursor: pointer;
    padding: 14px 28px;
    display: inline-block;
    margin-bottom: 26px;
}

.entryText:hover{
    text-decoration: underline;
    animation: textUnderline 1s forwards;
}


@keyframes textUnderline {
    from{
        opacity: 1;
    }to{
        opacity: 0.7;
    }
}

.entryDiv{
    display: flex;
    justify-content: center;
}

.formDiv {
    height: 520px;
    width: 310px;
    background-color: rgba(#080710, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(91, 112, 131, 0.2);
}