<div *ngIf="rooms != []">
  <mat-card *ngFor="let room of rooms" class="room-cards">
      <mat-card-title><a class="room-card-title-link" routerLink='room/{{room.name}}'>{{room.name}}</a></mat-card-title>
      <mat-card-content>{{room.description}}</mat-card-content>
      <img mat-card-image src="{{room.picture}}" />
      <mat-card-actions>
        <button mat-button color="primary" (click)="followRoom(room.name)">follow</button>
      </mat-card-actions>
  </mat-card>
</div>
<div *ngIf="followed_rooms != []">
  <mat-card *ngFor="let room of followed_rooms" class="room-cards">
      {{room.isAdmin}} ||
      {{room.details.name}} ||
      {{room.details.description}} ||
      <img src={{room.details.picture}} width="35px" height="25px"/>
  </mat-card>
</div>