<div class="formDiv">
  <button class="entryText" (click)="changeToLoginForm()">Register</button>
  <!-- <input type="text" id="username" [(ngModel)]="user.name"><br> -->
  <form [formGroup]="profileForm" (ngSubmit)="submitForm()">
    <label class="input__label" for="username">Username: </label><br>
    <input class="input__field" type="text" id="username" placeholder="Name" formControlName="name"><br>

    <label class="input__label" for="email">E-mail: </label><br>
    <input class="input__field" type="email" id="email" placeholder="E-mail" formControlName="email"><br>

    <label class="input__label" for="password">Password: </label><br>
    <input class="input__field" placeholder="Name" [type]="passwordState" id="password" formControlName="password">
    <input type="button" (click)="showPassword()" [value]="passwordState" ><br>

    <input type="submit" value="submit" [disabled]="profileForm.invalid">
    <!-- <input type="submit" value="submit" [disabled]=""> -->
  </form>
</div>


